DATABASE_URL=
REDIS_URL=

# AWS Configuration for S3 Presigned URLs
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=

# Google Cloud Vision API for OCR
GOOGLE_VISION_API_KEY=

# Email Sending configuration (SES)
EMAIL_FROM=
TEMPLATE_DIR=
